body {
    width: 100%;
    margin: 0;
}

#rh-subnav {
    display: none;
}

.byline {
    font: bold 20px "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin-bottom: 5px;
}

.stamp {
    font: normal 15px "Open Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #1F618D;
    margin-bottom: 5px;
}

.intro {
    max-width: 900px;
    margin: auto;
}


article h1 {
    color: #030303;
    font-family: 'PT Serif', serif;
    font-weight: normal;
    font-size: 33pt;
    line-height: 50px;
    text-align: center;
    margin: 30px;
}

#dek, .dek, .overline {
    background-color: #ef1c1b;
    color: white;
    width: 275px;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
}

article h2 {
    font: bold 40px "Open Sans Condensed", sans-serif;
    text-align: left;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 0;
    color: black;
}


article h4 {
    font: bold 14px "Open Sans", sans-serif;
    line-height: 22px;
    text-transform: uppercase;
    color: #1F618D;
}

main p {
    color: #333;
    font: normal 17px "PT Serif", serif;
    line-height: 25px;
    margin-top: 15px;
    text-align: left;
}

div.intro p#datestamp + p:first-letter {
    text-transform: uppercase;
    float: left;
    font-size: 53px;
    line-height: 48px;
    padding-right: 5px;
}

hr {
    margin-top: -7px;
    border-color: #333;
}

.latest-news {
    text-align: center;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    max-width: 900px;
    margin: 30px auto;
    padding: 12px;
}

q {
    quotes: '\201C' '\201D';
}

legend {
    color: #999;
    font: normal 17px "PT Serif", serif;
    padding-top: 10px;
    margin: 5px auto;
}

/*-----  DROPDOWN -----*/

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}

.select select {
    font: bold 14px "Open Sans", sans-serif;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0px solid #000000;
    border-radius: 10px;
    background: #ec975d;
    color: #333333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #333333;
    background: #D1D5D7;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #333333 transparent transparent transparent;
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-top-color: #33333;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #CCCCCC;
}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

table {
    font-family: 'Open Sans', sans-serif;
    border: 2px solid #eeeefe;
}
table thead th {
    font-weight: bold;
    padding: 5px 10px;
    line-height: 14px;
    text-align: left;
    font-size: 14px;
}
tr > td {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
tr > td:first-child {
    /* The first column on each row */
    text-align: left;
    font-size: 16px;
}
tr th {
    background-color: #eeeeee;
}
tr:nth-child(even) {
    background-color: #eeeefe;
}

select {
  display: block;
  width: 100%;
  background: white;
  border: 2px solid purple;
  padding: 10px;
  font-size: 14px;
  margin: 10px auto;
}

svg.intralink {
    height: 36px;
    width: 36px;
    position: relative;
    top: 12px;
    margin-left: -35px;
    left: 9px;
}

article {
	width: 800px;
	margin: auto;
}

/* REPORT CARD LETTER GRADES */
article form {
	width: 580px;
	background-color: rgba(225,225,235,0.8);
	position: absolute;
	margin: -200px 0 0 100px;
	padding: 15px 25px 25px 25px;
	border-radius: 15px;
	border: 2px solid #0B0B61;
}
form .result { display:none; }
section img {
	border-radius: 15px;
	border: 2px solid #0B0B61;
}
.letter, .letter_grades button
{
    font-family: 'Ultra', serif;
    text-transform: uppercase;
    font-size: 5em;
    color: #0B0B61;
    text-decoration: none;
	cursor: pointer;
	border: 0;
	background-color: transparent;
}
.letter_highlight { color: #DF013A; }
.letter:hover, .letter_grades button:hover { color: #DF013A; }
.letter_grades {
	height: 150px;
}
.letter_grades > div, .result p span
{
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 100px;
    height: 100px;
    padding-top: 35px;
    padding-top: 12px;
    background: url('../img/paper-bg-white.png') no-repeat;
    /*background: url('http://extras.mnginteractive.com/live/media/site36/2014/0905/20140905_035418_paper-bg-white.jpg') no-repeat;*/
    background-size: contain;
}
.result { clear:both; }
.result .letter { font-size: 5em; }
.result p span
{
	display: inline-block;
	float: none;
    width: 168px;
    height: 168px;
    padding-top: 70px;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}
article h2, article h3 { clear: both; }
